<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Stock Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        .stock-info {
            margin-top: 20px;
            padding: 15px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .error-message {
            color: red;
        }
    </style>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Real-Time Stock Data for {{ stock_code }}</h1>



    {% if stock_code %}
    <p>Stock Symbol: {{ stock_code }}</p>
    <p>Price: {{ price }}</p>
    <p>Change: {{ change }}</p>
    <p>Percent Change: {{ percent }}</p>
    {% else %}
    <p class="error-message">Real-time data not available for {{ stock_symbol }}.</p>
    {% endif %}
    {% endblock %}
</body>

</html>