<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Data </title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container-lg">
        <h2 class="text-center p-2">Historical Data</h2>

        <div class="container-sm">
            <form method="get" action="/plot/{{stock_symbol}}">
                <!-- default image by 30days -->
                {% if plot_url %}
                <img src="data:image/png;base64,{{ plot_url }}" alt="Closing Price Plot" class="img-fluid">
                {% else %}
                <p>No data available for {{ stock_symbol }}</p>
                {% endif %}
                <br />
                <p>Select these buttons or Select the days seeing the stock historical</p>
                <div>


                    <button type="submit" name="days" value="10" class="btn btn-primary  p-2"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Last
                        10
                        Days</button>
                    <button type="submit" name="days" value="2" class="btn btn-primary  p-2"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Last
                        2 Days</button>
                    <button type="submit" name="days" value="15" class="btn btn-primary  p-2"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Last
                        15
                        Days</button>
                    <button type="submit" name="days" value="30" class="btn btn-primary  p-2"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Last
                        30
                        Days</button>
                </div>
            </form>
        </div>
        <br />
        <form method="post" action="/ticker/{{stock_symbol}}">
            <div class="form-group">
                <label for="stock_symbol">Stock Symbol:</label>
                <label>{{stock_symbol}}</label>
            </div>
            <div class="form-group">
                <label for="start_date" class="p-2">Select Start Date:</label>
                <input type="date" name="start_date" required class="form-control p-2">
            </div>
            <div class="form-group">
                <label for="end_date" class="p-2">Select End Date:</label>
                <input type="date" name="end_date" required class="form-control p-2">
            </div>
            <br />
            <input type="submit" value="Get Historical Data" class="btn btn-primary p-2"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            <script>
                // Function to clear start_date and end_date input fields
                function clearDates() {
                    document.getElementById('start_date').value = '';
                    document.getElementById('end_date').value = '';
                }

                // Execute the function when the page is loaded
                window.onload = clearDates;
            </script>
        </form>

        <br />

        <p>Enhance Enthusiasm in Stocks within Same (GICS) sector.<b>Click Button below</b></p>


        <form action="/top5/{{ stock_symbol }}">
            <button type="submit" class="btn btn-success p-2"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Top
                5</button>
        </form>

        <table class="table">
            {% for row in row_data %}
            <tr>
                {% for col, row_ in zip(column_names, row) %}
                {% if col == link_column %}
                <td>
                    <a href="/ticker/{{ row_ }}">{{ row_ }}</a>
                </td>
                {% else %}
                <td>{{ row_ }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <form action="/realtime" method="get">
            <div class="form-group">
                <label for="stock_code" class="p-2">Enter Stock Symbol Seeing Real Time Stock:</label>
                <input type="text" id="stock_code" name="stock_code" required class="form-control">
            </div>
            <br />

            <button type="submit" class="btn btn-success p-2"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Get Real-time
                Price</button>
        </form>
    </div>
    <br />
    {% endblock %}

</body>

</html>