<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>

        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
            {% if col == link_column %}
            <td>
                <a href="/ticker/{{ row_ }}">{{ row_ }}</a>
            </td>
            {% else %}
            <td>{{ row_ }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</body>

</html>